<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jQueryUIcss")
    @Styles.Render("~/Content/BootStrapCss")
    @Styles.Render("~/Content/TableSorter/Bundle")
    @Styles.Render("~/Content/Toastr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                        Hello, <span class="username">@User.Identity.Name</span>! @*windows auth*@
                    </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Seat Reservations", "Index", "SeatReservation")</li>
                        <li>@Html.ActionLink("KnockoutJS Validation", "Index", "KOValidation")</li>
                        <li>@Html.ActionLink("Dapper TEST", "DapperTest", "Home")</li>
                        <li>@Html.ActionLink("Knockout Utilities", "Index", "KOUtils")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <script>        var App = {}; </script>
    <script type="text/javascript">
        var URL = {
            BaseURL : '@Url.Content("~/")',
            ScriptRoot: '@Url.Content("~/Scripts/")',
            UrlSchemeAndAuthority: '@HttpContext.Current.Request.Url.Scheme://@HttpContext.Current.Request.Url.Authority',
            ClientTemplate1: '@Url.Content("~/ClientTemplates/_templates.htm")',
            ClientTemplate2: '@Url.Content("~/ClientTemplates/_supplierProdTemplate.htm")',
            PTSProjList: '@Url.Content("~/Home/GetPTSProjectList")',
            BindDynamicTable: '@Url.Content("~/Home/BindDynamicTable")',
            CTOGridFill : '@Url.Content("~/Home/CTOGridFill")',
            GetProductSupplierListFromNorthwind : '@Url.Content("~/Home/GetProductSupplierListFromNorthwind")',
            GetPersons : '@Url.Content("~/Home/GetPersons")'
        };
        
    </script>
    <script data-main="@Url.Content("~/Scripts/bootstrapper")" src="@Url.Content("~/Scripts/Lib/require.js")"
        type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Lib/modernizr-2.5.3.js")" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
